{%  extends "index.html" %}

{% block control %}

<table>
    <tr>
        <th>AGENTE</th>
        <th>FECHA</th>
        <th>ESTADO</th>
        <th>VISADO</th>
    </tr>
    
    {% for parte in datos %}
        <tr>
            <th>{{parte.agenteParte}}</th>  
            <th>{{parte.ingresadoFecha}}</th>
            <th>{{parte.detalle}}</th>
            {% if parte.estado %}
                <th>visado</th>
            {% else %}
            <th>sin control</th>
            {% endif %}
            <th><a href="">VER</a></th>
        </tr>
    {% endfor %}
    


</table>

{% endblock %}