{%  extends "index.html" %}
{% load static %}

{% block control %}

<section class="container">
    <div class="row ">
        <div class="col-md-12 search ">
            <form action="" method="get"> 
                <div id="search-input">
                    <div class="input-group col-md-6">
                            <input type="date" name="" id="buscar">
                            <input type="text" value="" id="conTexto">
                            <button type="submit" class=" btn btn-dark">BUSCAR</button>
                    </div> 
                </div>
            </form>
        </div>
    </div> 
</section>

<table class="table container">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">AGENTE</th>
          <th scope="col">INGRESADO</th>
          <th scope="col">FECHA</th>
          <th scope="col">ESTADO</th>
          <th scope="col">VISADO</th>
          <th scope="col">FECHA CONTROL</th>
          <th scope="col">USUARIO CONTROL</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for parte in datos %} 
      <tr>
        <th scope="row"> {{forloop.counter}}</th>
            <td> {{parte.agenteParte}}  
            <td>{{parte.ingresadoFecha}}</td>
            <td>{{parte.FechaParte}}</td>
            <td>{{parte.detalle}}</td>
            {% if parte.estado %}
                <td>visado</td>
            {% else %}
            <td>sin control</td>
            <td>{{parte.FechaVisado}}</td>
            <td>{{parte.usuarioVisado}}</td>
            {% endif %}
            <td>
                <a href="controlModificar/{{parte.id}}" class=" btn btn-modificar">MODIFICAR</a>
                <a href="controlEliminar/{{parte.id}}"  class=" btn  btnEliminar">ELIMINAR</a>
            </td>
       </tr>
        {% endfor %}
    </tbody>
  </table>

<section class="container" id="modificar">
    

</section>



{% endblock %}