{%  extends "index.html" %}

{% block parteDiario %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">EDITAR PARTE DIARIO DE <br> {{parte.agenteParte}}</h1>        
        <p>{{error}}</p>
        <form action="editarParte" method="post" class="text-center" >
            {% csrf_token %}
            <input type="hidden"  name="id" value="{{parte.id}}">
            <div class="container text-start ">

                <div class="m-2 text-start ">
                    <label for="">Agente</label> 
                    <input type="text" name="agente" id="agente" value="{{parte.agenteParte}}" readonly>
                </div>
                <div class="m-2">
                    <label for="">Situacion de parte</label>
                    <input type="text" name="estado" id="estado" value="{{parte.detalle}}">
                </div>
                <div class="m-2">
                    <label for="">Fecha</label>
                    <input type="date" id="fecha" value="{{parte.ingresadoFecha}}">
                </div>
                
            </div>
                     
            
            <button type="submit" class="btn btn-dark">MODIFICAR</button>
        </form>
        
    </section>
</main>
    {% endblock %}